* {
    margin: 0;
    padding: 0;
    /* Menggunaakn Universal Selector dan membuat 0 padding dan margin adalah Global Reset yang biasa di gunakan */
}

body {
    color: #444;
    font-family: sans-serif;
    border-top: 10px solid #1098ab;
}

.container {
    width: 800px;
    margin: 0 auto; 
    /* shorthand trick */
    /* margin-left: auto;
    margin-right: auto; */
    /* margin-left & margin-right menjadi auto akan menghitung secara otomatis di kedua sisinya sehingga mempunyai ukuran yang sama persis yang menghasilkan halaman kita menjadi di tengah browser*/
}

.main-header {
    background-color: #f7f7f7; /*Warna Background*/
    padding: 20px 40px;
    /* padding: 20px(top & bottom) 40px(left & right) */
    margin-bottom: 60px;
    height: 80px;
}

nav {
    font-size: 18px;
}

article {
    margin-bottom: 60px;
}

.post-header {
    margin-bottom: 40px;
}

aside {
    background-color: #f7f7f7;
    border-top: 5px solid #1098ad;
    border-bottom: 5px solid #1098ad;
    padding: 50px 0;
    width: 500px;
}

h1,
h2,
h3 {
    color: #1098ad; /*Warna Font*/
}

h1 {
    font-size: 26px; /*Ukuran Font*/
    text-transform: uppercase; /*Transfrormasi Font*/
    font-style: italic; /*Penampilan Font*/
}

h2 {
    font-size: 40px;
    margin-bottom: 30px;
}

h3 {
    font-size: 30px;
    margin-bottom: 20px;
    margin-top: 40px;
    /* Margin Collapse adalah ketika ada 2 margin yang saling bentrok dan value yang akan di ambil biasanya yang paling besar  */
}

h4 {
    font-size: 20px;
    text-transform: uppercase;
    text-align: center; /*Mengatur Tata Letak Horizontal Text*/
}
p {
    font-size: 22px;
    line-height: 1.5; /*Jarak Baris*/
    margin-bottom: 15px;
}

ul,ol {
    margin-left: 50px;
    margin-bottom: 20px;
}

li {
    font-size: 20px;
    margin-bottom: 10px;
}

#author {
    font-style: italic;
    font-size: 18px;
}

#copyright {
    font-size: 16px;
}

.related-author {
    font-size: 18px;
    font-weight: bold; /*Mengatur Ketebalan Font*/
}

.related {
    list-style: none; /*Mengontrol Tampilan Penomoran*/
}

li:first-child {
    font-weight: bold;
}

li:last-child {
    font-style: italic;
    margin: 0;
}

a:link { 
    color: #1098ad;
    text-decoration: none; /*Mengatur Dekorasi Text seperti Garis Bawah*/
}

a:visited {
    color: #1098ab
}

a:hover { 
    color: orangered;
    font-weight: bold;
    text-decoration: underline dotted orangered;
}

a:active { 
    background-color: black;
    font-style: italic;
}

.post-img {
    width: 100%;
    height: auto;
    /* height: auto; => bisa digunakan jika salah satu dari width atau heightnya sudah terisi, maka hasilnya akan mengikuti rasio gambar aslinya*/
    /* width: 100%; => adalah presentasi dari ukuran container atau induk dan akan selalu mengikuti rasio halaman */
}
