*{
  margin: 0;
  padding: 0;
}

body{
  font-family: sans-serif;
}

/*CONTAINER*/
.page01{
  width: 500px;
  margin: 50px auto;
  background-color: blanchedalmond;
  border: 3px solid black;
}

.page02{
  width: 500px;
  margin: 50px auto;
  background-color: blanchedalmond;
  border: 3px solid black;
}

.page03{
  width: 500px;
  margin: 50px auto;
  background-color: blanchedalmond;
  border: 3px solid black;
}

/*BLOCK-LEVEL ELEMENT*/
.title01{
  background-color: yellow;
  text-align: center;
  padding: 5px;
  border-bottom: 3px solid black;
}

.list01{
  color: yellow;
  font-weight: 400;
}

.list01 li{
  display: block;
  margin: 15px;
  padding: 15px;
  background-color: red;
}

.explain01{
  margin: 0 15px ;
  padding: 20px;
  font-weight: 600;
}

.explain01 li{
  margin-bottom: 5px;
}

/*INLINE ELEMENT*/
.title02{
  background-color: yellow;
  text-align: center;
  padding: 5px;
  border-bottom: 3px solid black;
}

.list02{
  margin: 30px 0;
  color: yellow;
  font-weight: 400;
}

.list02 li{
  display: inline;
  background-color: red;
  margin: 15px;
  padding: 10px 40px;
}

.explain02{
  margin: 0 15px;
  padding: 20px;
  font-weight: 600;
}

.explain02 li{
  margin-bottom: 5px;
}

/*INLINE-BOXES ELEMENT*/
.title03{
  background-color: yellow;
  text-align: center;
  padding: 5px;
  border-bottom: 3px solid black;
}

.list03{
  margin: 30px 0;
  color: yellow;
  font-weight: 400;
}

.list03 li{
  display: inline-block;
  background-color: red;
  margin: 15px;
  padding:  40px;
}

.explain03{
  margin: 15px;
  padding: 20px;
  font-weight: 600;
}

.explain03 li{
  margin-bottom: 5px;
}